@model TrainingAppsAdmin.Models.AccreditationsText

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>AccreditationsText</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Label)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Label)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Accreditation.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Accreditation.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Language1.Label)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Language1.Label)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to Accreditation", "Edit", "Accreditation", new { id = Model.AccreditationId }, new { @class = "btn btn-default btn-sm" })
</p>
